alias zz='source ~/.zshrc'
alias za='source ~/.aliases'

alias htop='btop -p 1'

alias watch='watch -n1'
alias ll='exa -alh --git --color-scale'
alias l=ll
alias wll='watch exa -alh --git --color=never'
alias wt='watch exa -alhT --git --color=never'

alias wd=lazydocker
alias e=nvim
alias vim=nvim
alias df='duf --output mountpoint,size,avail,usage /'
alias wdf='watch duf --output mountpoint,size,usage,avail /'
alias wips='watch ips'
alias clip='pbcopy'
alias ff='fzf | clip'

alias docker-search='docker ps --format "{{.ID}}    {{.Names}}" | fzf | awk '\''BEGIN {ORS=""} { print $1; }'\'''
alias docker-cid='docker-search | clip'
alias docker-exec='docker exec -it $(docker-search) bash'
alias docker-stop-all='docker stop $(docker ps -aq) && docker rm $(docker ps -aq)'

if [[ $(uname -s) == "Linux" ]]; then
    # Aliases specialied for Linux
    alias clip='xclip -selection c'
    alias open='xdg-open'
    alias apt-search='apt-cache madison'
    alias apt-list='apt list -a'
    alias swap-clear='sudo swapoff -a; sudo swapon -a'

elif [[ $(uname -s) == "Darwin" ]]; then
    # Aliases specialied for OSX
    alias rosetta='arch -x86_64'
fi

alias ipython='ipython3 --no-banner'
alias ipython3='ipython3 --no-banner'
alias translate='trans'
alias arduino='arduino-cli'

alias traceroute='mtr -t'

# Fleet
alias lifplot='cargo run --manifest-path ~/fleet/fleet_manager/lifplot/Cargo.toml --'
alias fmplot='cargo run --manifest-path ~/fleet/fleet_manager/fmplot/Cargo.toml --'
alias fm='FLEET_MANAGER_LOG=debug  cargo run --manifest-path ~/fleet/fleet_manager/fleet_manager/Cargo.toml --all-features --bin fleet_manager --'
alias fmrepl='cargo run --manifest-path ~/fleet/fleet-repl/Cargo.toml -- --config-dir /tmp/fleet-repl/'
alias fmrun='FLEET_MANAGER_LOG=info cargo run --manifest-path ~/fleet/fleet_manager/fleet_manager/Cargo.toml --bin fleet_manager -- run --config /tmp/fleet-repl/fm_config.toml'
alias fmtest='cargo nextest list --cargo-quiet --profile integration | tail -n +2 | fzf | FLEET_STABLE_INTEGRATION_TEST_MQTT_PORT=1883 FLEET_MANAGER_LOG=info xargs -I{} cargo nextest run --profile integration -E "test(={})" --no-capture'

alias foxglove='docker build -t fleet-foxglove -f ~/fleet/fleet_foxglove/Dockerfile ~/fleet && docker run --net=host --rm -d -it fleet-foxglove'

alias fury='cargo run --manifest-path ~/fleet/fury/Cargo.toml --'

alias cnl="cargo nextest list"
alias cnr='cargo nextest run'

alias k='kubectl'
