whatlibs() {
    # needs sudo apt install apt-file
    ldd $1 | awk '/=>/{print $(NF-1)}' | while read n; do dpkg-query -S $n; done | sed 's/^\([^:]\+\):.*$/\1/' | uniq
}

function ensure-installed {
    # Look for a command and install it via apt, if not found
    cmd=$1
    installer=${2:-$1}
    if [[ $(which $cmd) ]]; then
        return 0
    else
        echo "$cmd NOT installed, trying to install via apt..."
        sudo apt install $cmd
        [ $? -ne 0 ] && exit 1
    fi
}

whoruns() {
    name=$1
    a="$(echo $name | head -c 1)"   # get the first character
    b="$(echo $name | tail -c +2)"  # get the remaining characters
    ps aux | grep "[$a]$b"          # do a process search, whichout grep's self
}

# Connect to a remote host and use ZSH as remote TTY
#
# zssh user@host
#
zssh() ssh "$@" -t zsh

cmakemake() {
    if [ ! -d build ]; then
        mkdir build
    fi

    cd build
    cmake .. "$@"
    make
    ls && cd ..
}

rosbridge() {
    PORT=${1:-8888}
    roslaunch rosbridge_server rosbridge_websocket.launch port:=$PORT
}

# simple CLI calculator function
# All available functions from NumPY are supported such as
# pi, sin, cos, ..., deg2rad, rad2deg, array(...), dot, etc.
#
# Use like so:
#
# user@pc$ calc 1 + 1
# 2
#
# user@pc$ calc "sin(deg2rad(30))"  # or
# user@pc$ calc sin\(pi \/ 180 \* 30\)  # escape special sh characters
# 0.4999
#
# user@pc$ calc "array([0,1,2]).dot(array([3,4,5]))"
# 14
#
calc() {
    expression=$@
    python -c "from numpy import *; print($expression)"
}

rviz() {
   config=${1:-default}
   /opt/ros/$ROS_DISTRO/bin/rviz -d ~/.rviz/"$config".rviz
}
